body{
    background-color: cadetblue;
}
.container{
    margin: 100px 30px 20px 70px;
    height: 100px;
    width: 500px;
}
#newtask{
    padding: 20px 30px 20px 30px;
    background-color: #ffffff;
    border-radius: 6px;
    position: relative;
    box-shadow:3px 5px 5px black ;
    }

#newtask input{
    border-radius: 5px;
    width: 75%;
    height: 45px;
    font-size: 15px;
    border: 2px solid #d1d3dd;
    padding: 12px;
    position: relative;
    
}
#newtask input:focus{
    outline: none;
    border-color: #190019;
}
#newtask button{
    border-radius: 5px;
    width: 15%;
    height: 45px;
    position: relative;
    border: none;
    background-color:turquoise;
    margin-left: 20px;
    cursor: pointer;
    outline: none;
}
#tasks{
    width: 460px;
    position: relative;
    background: #ffffff;
    margin-top: 40px;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow:3px 5px 5px black
}
.task{
    background: #ffffff;
    height: 50px;
    padding: 5px 10px;
    border-radius: 0px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 2px solid #d1d3d4;

}
.task span{
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}
.task button{
    border: none;
    background: #19A68C;
    height: 100%;
    width: 40px;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
}
.completed{
    text-decoration: line-through ;
    opacity: 0.7;
}